{% extends "base.html" %}

{% block content %}
<h1>Добавление типа</h1>
<form enctype="multipart/form-data" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p content="alert alert-danger" role="alert">{{message}}</p>
</form>
{% endblock %}
