{% extends "base.html" %}

{% block head %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ apikey }}&lang=ru_RU" type="text/javascript"></script>
<script>var buildings = {{buildings | tojson}}</script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Выбор корпуса</h1>
<div class="row">
  <div class="col-lg">
    {% if current_user.is_authenticated %}
    <a href="/user" class="btn btn-primary my-3">
      Пользователи
    </a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="/add_building" class="btn btn-primary my-3">
      Добавить корпус
    </a>
    {% endif %}
    <table class="table table-sm table-hover">
      <thead>
	<tr>
	  <th scope="col">#</th>
	  <th scope="col">Номер корпуса</th>
	  <th scope="col">Количество этажей</th>
	  <th scope="col">Адрес</th>
	</tr>
      </thead>
      <tbody>
	{% for building in buildings %}
	<tr>
	  <th scope="row">{{ loop.index }}</th>
	  <td><a href="/building/{{ building['number'] }}">Корпус {{ building["number"] }}</a></td>
	  <td>{{ building["floors_count"] }}</td>
	  <td>{{ building["address"] }}</td>
	  {% if current_user.is_authenticated %}
	  <td><a href="/change_building/{{ building['number'] }}" class="btn btn-warning">
	      Изменить
	  </a><td/>
	  <td><a href="/delete_building/{{ building['number'] }}" class="btn btn-danger">
	      Удалить
	  </a></td>
	  {% endif %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md">
    <div id="map" class="mx-auto shadow p-1 mb-5 bg-body border rounded"></div>
  </div>
</div>
{% endblock %}
